<div class="notesContainer">
    <div *ngFor="let product of products | searchFilter:searchedItem">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{product.img}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{product.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Reviews</button>
              <button mat-button (click)="openDialog(product)">Expand</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>

<router-outlet></router-outlet>