<body>
    <form class="container" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="inputs">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"/>
                <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button class="submit" type="submit" [disabled]="!loginForm.valid">Login</button>

    </form>
</body>

<router-outlet></router-outlet>