mat-toolbar {
    // border: 2px solid red; 
    background-color: white;
    border-bottom: 0.5px solid rgb(195, 186, 186);
  }
  
  .header {
    display: flex;
    // border: 2px solid blue; 
    // justify-content: space-between;
    height: 80px;
    box-shadow: 0 3px 3px 0px rgb(98, 152, 234);
  }
  
  .keeplogo {
    font-size: 30px;
    color: rgb(139, 138, 138);
    display: flex;
    // border: 2px solid black; 
    // width: 15%;
    height: 70px;

  }
  
  .searchBar {
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    margin-top: 4px;
    border: 0.5px solid black; 
    width: 55%;
    margin: auto;
    margin-left: 2%;
    // width: inherit;
    // border: 2px solid red;

  }
  
  .searchinput {
    background-color: white;
    border-color: rgb(240, 233, 233);
    border: none;
    // outline: none;
    width: 300px;
    font-size: 20px;
    padding: 2px 1px 2px 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .material-icons {
    color: rgb(139, 138, 138);
    font-size: 30px;
    margin-top: 3px;
  }
  

  
  .filters {
    border: 0.5px solid rgb(203, 200, 200);
    border-radius: 4px;
    padding: 6px;
    padding-right: 35px;
    display: flex;
    align-items: center;
    // gap: 1%;
    // margin-right: 20px;
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
 
  label{
    font-size: 16px;
    width: 40%;
  }
  .filter-select {
    // border: 2px solid red;
    width:50%;
    padding: 8px;
    border-radius: 3px;
    border: 0.5px solid black;
    background-color: white;
  }
  
  .profile{
    border: 0.5px solid black;
    padding: 8px ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 1%;
  }
  .profile:hover{
    background-color: rgb(179, 174, 174);
  }
  .profile img{
    height: 30px;
    width: 30px;
  }